body {
    background-color: rgb(0, 112, 112);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

img{
    width: 100%;
}
h2 {
    
    margin: 6rem;
    font-size: 2.5em;
    letter-spacing: -.5px;
    display: flex;
    flex: content;

}
p {
    line-height: 2em;
    margin: 6rem;
    display: flex;
    flex: content;
    
}
h1{
    background: -webkit-linear-gradient(90deg, #E5A00D 20%, #F9BE03 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
   
}
h4 {
    font-size: 2em;
    letter-spacing: -.25px;
    font-weight: 200;
    color: #282A2D;
    /* text-rendering: optimizeLegibility; */
    line-height: 1.4em;
    font-family: "Circular Bold",plexeina-blod,Helvetica,sans-serif;
    font-style: normal;
    display: block;
  
}
.x{
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
    box-sizing: border-box;
    width: 650px;
    margin: 0 auto;
    right: 70px;
}
p{
    background: -webkit-linear-gradient(90deg, #E5A00D 20%, #F9BE03 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
.Image {
        height: auto;
        max-width: 70%;
        margin: 12rem;
        padding: 1cm;
       
}
h2 {
    
    font-family: ;
    font-weight: 700;
    font-style: normal;
    box-sizing: inherit;
    font-size: 2em;
    line-height: 2em;
    line-height: 2em;
    margin: 6rem;
    display: flex;
    flex: content;

}